<div class="row" ng-controller="ClockCtrl">
  <div class="col-xs-12 clearfix">
    <h1 class="pull-right">{{ clock.now }}</h1>
  </div>
</div>
<div class="row" ng-controller="AppCtrl">
  <div class="col-xs-12">
    <h1>{{ view.heading }}</h1>
    <form ng-submit="submit()">
      <div class="form-group">
        <label for="first">First name:</label> {{ first }}
        <input type="text" class="form-control" id="first" placeholder="First name" ng-model="first">
      </div>
      <div class="form-group">
        <label for="last">Last name:</label> {{ last }}
        <input type="text" class="form-control" id="last" placeholder="Last name" ng-model="last">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label> {{ email }}
        <input type="email" class="form-control" id="email" placeholder="Email address" ng-model="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label> {{ password }}
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>