<div class="row" ng-init="heading = 'Data binding is fun!'">
  <div class="col-xs-6">
    <h1>{{ heading }}</h1>
    <form ng-submit="heading = 'You\'re doing it!';">
      <div class="form-group">
        <label for="first">First name:</label> {{ first }}
        <input type="text" class="form-control" id="first" placeholder="First name" ng-model="first">
      </div>
      <div class="form-group">
        <label for="last">Last name:</label> {{ last }}
        <input type="text" class="form-control" id="last" placeholder="Last name" ng-model="last">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label> {{ email }}
        <input type="email" class="form-control" id="email" placeholder="Email address" ng-model="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label> {{ password }}
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>